<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ASCII_new</title>
</head>
<body>
    <form action='/utilities/ascii_make'>
        <textarea name="ascii_original"></textarea>
        <select name="select_box">
          <option value="short" selected="selected">short</option>
          <option value="utopia">utopia</option>
          <option value="rounded">rounded</option>
          <option value="acrobatic">acrobatic</option>
          <option value="alligator">alligator</option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>